<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<title>Insert title here</title>
	</head>
	<body>
		<div class="container">
			<div class="row text-center">
				<h1 class="col">The Seaplane base weekly</h1>
			</div>
			
		    <!-- via th:text permet d'ajouter the que contient le properties en passant par le controller -->
			<div class="row text-center">
				<h2 th:text="${title}" class="col-4"></h2>
			</div>
			<div class="row text-center">
				<h3 th:text="${text}" class="col-4"></h3>
			</div>
			<div class="row">
				<p class="col-4">Most of its text is made up from sections
				1.10.32–3 of Cicero's De finibus bonorum et malorum (On the
				Boundaries of Goods and Evils; finibus may also be translated as
				purposes). Neque porro quisquam est qui dolorem ipsum quia dolor sit
				amet, consectetur, adipisci velit is the first known version
				("Neither is there anyone who loves grief itself since it is grief
				and thus wants to obtain it"). It was found by Richard McClintock, a
				philologist, director of publications at Hampden-Sydney College in
		
				</p>
			</div>
			<div>
				<a href="/index.html">back dans les bacs</a>
			</div>
		</div>
	</body>
</html>