<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<title>safety Page</title>
	</head>
	<body>	
		<div class="container">
			<div class="row text-center">
				<h1 class="col">Here is the list of our seaplanes</h1>
			</div>
			<div>
				<div class="row text-center">
					<p class="col-4">Outshore</p>
					<p class="col-4">Model</p>
					<p class="col-4">Registration</p>
				</div>
				<table class="table text-center">
					<tr th:each="h:${l}">
						<td th:text="${h.outshore}"/>
						<td th:text="${h.model}"/>
						<td th:text="${h.rego}"/>
					</tr>
				</table>			
			</div>
			
			<div id="link">
				<a href="/index.html">back dans les bacs</a>
			</div>
		</div>
	</body>
</html>